@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --main-font-family: Montserrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  --form-control-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}





body {
  /* Uncomment the below line if we add in the footer - Margin bottom by footer height */
  /* margin-bottom: 30px; */
  background-color: #f5f7fa;
  font-family: var(--main-font-family); 
  line-height: 1.0px;
}

/* Not currently being used but leaving incase */
.footer {
  position: absolute;
  bottom: 0;
  width: 98%;
  /* Set the fixed height of the footer here */
  height: 30px;
  /*line-height: 30px;  */
  background-color:#d7dadd;
  min-height:55px;
  padding-top:15px;
}

.card {
  border: 0px;
  z-index: 0;
}

.card .card-header{
  height: 40px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card-title {
  margin-bottom: 0.50rem !important;
}

.input-invalid,
.input-invalid:focus {
  color: red;
  box-shadow: 0 0 5px rgb(209, 53, 53) !important;
  border: 1px solid rgb(209, 53, 53) !important;
}

.header {
  margin-left:-15px;
  margin-right:-15px;
}
.header-row-two {
  background-color:#a9a9a9;
  border-top:2px solid #333;
}
.header-div-two {
  height:10px;
  /*border-right:2px solid #333; may need later*/
}
.header-div-countdown {
  width:auto;
  margin-right:-5px;
  font-weight:600;
  /*border-bottom:2px solid #333;
  border-right:2px solid #333;
  border-left:2px solid #333;
  background:#fff; may need later*/
}

.div-datetime-left {
  width:258px;
  margin-right:35px;
}

.div-datetime-left span {
  font-weight:600;
}

.wrapper .content-header {
  margin:0.8rem auto 0.7rem 0.875rem;
}
.content-header {
  font-size:2rem;
  color:#3071A9;
  font-weight:500;
}
.navbar {
  margin-left:-10px;
  margin-right:0;
  padding-top: 2px;
  padding-bottom: 0px;
}
.input-group-addon-close {
  border-left:none;
  border-top:none;
  border-right:none;
  border-bottom:none;
  line-height:1.25em;
  height:calc(1.812rem + 2px);
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  padding:0.4rem 0.65rem;
  background-color:#ECEFF1;
  width:31px;
}
.input-group-addon-alert {
  width:31px;
}
.alert-btn-group {
  margin:0;/*was margin-left:0.5rem;margin-right:0.5rem;*/
}

.form-control:disabled:focus,
.input-group .dt-toggle-disabled:focus,
.input-group .input-group-addon:disabled:focus,
.input-group .input-group-addon.disabled:focus {
    border: 1px solid #A6A9AE !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: 0.65;
}

.input-group .input-group-addon:disabled,
.input-group .input-group-addon.disabled,
.input-group .dt-toggle-disabled {
    background-color: #eee !important;
    cursor: not-allowed;
    opacity: 0.65;
}


/* ************************************** */
/* Apex (left) side Menu Styles */
/* ************************************** */
.app-sidebar, .off-canvas-sidebar {
  font-family: var(--main-font-family); /* Montserrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
  white-space:normal;/* was nowrap */
}

.app-sidebar .navigation li.active .menu-title {
  font-weight:600;
  /* font-size:1.125rem;was 1.1rem org 1.025rem */
}
.app-sidebar .navigation .badge.badge-pill, .off-canvas-sidebar .navigation .badge.badge-pill,
.wrapper .nav-collapsed .app-sidebar:hover .badge {
  display:none !important;
}
.app-sidebar .navigation li > a:before, .off-canvas-sidebar .navigation li > a:before {
  border-right:solid 5px #3071a9 !important;
  background-color: #e6e6e6;
  background:rgba(230, 230, 230, 0.2) !important;/*closer to fff was rgba(200, 200, 200, 0.2) c8c8c8, may need later*/
  -webkit-transition:none;/*was .35s ease left*/
  transition:none;/*was .35s ease left*/
}

.dashboard-content {
  background-color: #004953;
}

/* third level header styling, may need later
.app-sidebar .navigation li.open .menu-content li.open > a, .off-canvas-sidebar .navigation li.open.menu-content li.open > a {
  border-bottom:solid 2px #3071a9 !important;
}*/


/* ************************************** */
/* modal Styles */
/* ************************************** */

.modal-dialog {
  margin: 9.5rem auto auto auto;
}

.modal-dialog .content-header {
  font-size: 1.25rem;
  color: #3071A9;
  font-weight: 600;
}

.modal-dialog .modal-content legend.grp-border {
  margin-left: 0.25rem;
}

#dialog .modal-header {
  padding: 0;
  height: calc(4rem + 4px);
  border-bottom: none;
}

.modal-body  p{
  position: relative;
 
  /* let it scroll */
  overflow: auto;
  line-height: 20px;
  word-wrap: break-word;
}

/* ************************************** */
/* alert Styles */
/* ************************************** */
.alert-row {
  padding-top:8px;
  padding-bottom:8px;
  margin-left:-10px;
  margin-right:-8px;
}
.alert {
  font-size: 0.85rem;
  line-height: 1.25em;
  padding: 0.5rem 0 0;
  margin-bottom: 0;
  font-weight: 400;
  border-radius: 0.2rem;
}

#form-status-alert .alert {
  padding: 0 0 0;
}

#dialog .modal-header .alert {
  font-size: 1.5rem;
  padding: 1rem 1.25rem;
  width: 100%;
}

.alert-success {
  border-color: #255625 !important;
  background-color: #daf2e7 !important;
  color: #255625 !important;
}

.alert-danger {
  border-color: #ad2929 !important;
  background-color: #f8d7da !important;
  color: #ad2929 !important;
}

.alert-warning {
  border-color: #D58512 !important;
  background-color: #f6ebd2 !important;
  color: #D58512 !important;
}

.alert-caution {
  border-color: #D58512 !important;
  background-color: #f6ebd2 !important;
  color: #D58512 !important;
}

.alert-info {
  border-color: #148 !important;
  background-color: #daeff2 !important;
  color: #148 !important;
}
.message-success, .message-danger, .message-warning, .message-info {
  background-color:white !important;
  padding:0.5rem 0.07rem 0.5rem 1rem;
  color:#333;
}
.message-danger strong {
  color:#A00200 !important;
}
.message-warning strong {
  color:#ff7400 !important;
}
.message-info strong {
  color:#148 !important;
}
.message-success strong {
  color:#255625 !important;
} 
.message-success {
  border-left:1px solid #255625;
}
.message-danger {
  border-left:1px solid #A00200;
}
.message-warning {
  border-left:1px solid #ff7400;
}
.message-info {
  border-left:1px solid #148;
}
/* Bootstrap Grid aid Styles */
.negative-gutters {
  margin-right:-10px;
  margin-left:-10px;
}
.no-spacing {
  margin:0 0 -4px -5px !important;
  padding:0 !important;
}
.vertical-align {
  display:flex;
  align-items:center;
}
.card .card-block {
  padding:0.5rem 1rem 0.5rem;
}

/* Basic Form Styles */
html [type="button"] {
  -webkit-appearance:none;
}

html [role="button"], html [type="button"] {
  cursor:pointer;
}

hr {
  margin-top:1rem;
  margin-bottom:1rem;/* both org 1.5rem */
}

.mandatory {
  color: #a00200;
  font-size: 0.75rem !important;
  font-weight: 400;
  text-transform: none;
  /*was height:2.65em fix for IE */
}

.mandatory:before {
  content: "* ";
  color: #a00200;
}

.required:after {
  content:"*";
  color:#a00200;
  /* box-sizing: border-box; */
}

/* Form Grp Box Styles */
fieldset.grp-border {
  padding:0 1.4em;
  margin:0 0 0.4em 0;
  width:100%;
  background:#fff;
}
fieldset.grp-border fieldset.grp-border {
  padding:0 1.3em;
  margin:0 0 0.4em 0;
  background:#fff;
}
legend.grp-border {
  font-size:1.0rem;
  font-weight:600;
  text-align:left;
  width:auto;
  padding:0;
  border-bottom:none;
  margin-bottom:.0;
}

legend {
  font-size:1.0rem;
  font-weight:600;
  margin-left:-10px;
}
input, button, select, textarea {
  font-family:inherit;/*Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif*/
  font-size:inherit;
  line-height:inherit;
}
.form-inline .title:after {
  content:":";color:inherit;
}
.form-inline input, .form-inline textarea, .form-inline select {
  margin-left:0px;   /* in order to fix the calendar layout issue on ST-298, change the margin to 0 */
}
.form-inline label {
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
}
/* .form-style specific Styles */
label, .form-style label {
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  line-height:1.5em;
  font-family:inherit;
  color:#222;
  font-size:0.75rem;
}

.timestamp {
  font-weight:500;
  line-height:1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
  font-size:0.80rem;
}

.form-control, form .form-control, .form-style .form-control {
  font-family:  var(--form-control-font-family);
  color:#222;
  font-size:0.85rem;
  border:1px solid #A6A9AE;
  line-height:1.3125em;/*was .5625em 1.3125em*/
  border-radius:0;
  height:calc(1.812rem + 2px);
}

.sbms-form-actions {
  text-align: right;
  border-top: 1px solid #d3dce9;
  /* padding: 20px 0px;
  margin-top: 20px; */
  padding: 10px 0px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-section-divider {
  border-top: 1px solid #d3dce9;
  padding: 5px 0px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px; 
}

form .form-group, form .input-group, .form-style .form-group, .form-style .input-group {
  margin-bottom:0.5rem;
}
.input-group .form-control {
  padding:0.35rem 0.5rem;
}
input, textarea, select, .input-group-addon, .form-style input, .form-style textarea,
.form-style select, .form-style .input-group-addon {
  font-size:0.8125rem;/* was 0.75rem */
  /*line-height:1.3125em; may need back later*/
}
.form-style select {
  min-width: 25px;
  min-height: 30px;
}
input.ra, input[type="text"].ra, .form-style input.ra, .form-style input[type="text"].ra {
  text-align:right;
}
.input-group input.form-control, .form-style .input-group input.form-control {
  border-left:1px solid #A6A9AE;
  border-top:1px solid #A6A9AE;
  border-right:1px solid #aaa;
  border-bottom:1px solid #A6A9AE;
}
.input-group input.form-control.time, .form-style .input-group input.form-control.time {
  border-right:1px solid #A6A9AE;
}
.input-group-addon, .form-style .input-group-addon {
  border-left:none;
  border-top:1px solid #A6A9AE;
  border-right:1px solid #A6A9AE;
  border-bottom:1px solid #A6A9AE;
  height:calc(1.812rem + 2px) !important;/* was 1.65rem + 3px */
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
.input-group-addon {
  padding:0.35rem 0.5rem;
}

.clock .input-group-addon {
  padding:0.35rem 0.365rem;
}
.search .input-group-addon {
  height:inherit;
}
.no-bg-border {
  background-color:transparent !important;
  border-left:1px solid transparent !important;
  border-top:1px solid transparent !important;
  border-right:1px solid transparent !important;
  border-bottom:1px solid transparent !important;
}
/* Select Styles */
select.form-control:not([size]):not([multiple]), .form-style select.form-control:not([size]):not([multiple]) {
  height:calc(1.8125rem + 2px);/* was 1.68rem +3px org (2.25rem + 2px) */
}
select.form-control, .form-style select.form-control {
  min-width:100px;
  max-width:200px;
}
select:required:invalid, .form-style select:required:invalid {
  color:#888;
}
/* show Select >>,  may need later
.form-control option:first-child, .form-style .form-control option:first-child {
  display:none;
}*/
.form-control option, .form-style .form-control option {
  color:#3071A9;
}
/* Button Styles */
input[type="button"], input[type="submit"],
.form-style input[type="button"], .form-style input[type="submit"] {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:2%;
  min-width:110px;
  -webkit-border-radius:0.25rem;
  border-radius:0.2rem;
  border-bottom:1px solid transparent;
  border-right:1px solid transparent;
  color:#fff;
  font-weight:500;
  font-size:1.125em;
  vertical-align:middle;
}
input[type="button"]:focus, input[type="submit"]:focus,
.form-style input[type="button"]:focus, .form-style input[type="submit"]:focus {
  /*outline:0;disabling keyboard standard not good */
  box-shadow:none;
}
input[type="button"]:focus, input[type="submit"]:focus,
.form-style input[type="button"]:focus, .form-style input[type="submit"]:focus {
  /*outline:0;disabling keyboard standard not good */
  box-shadow:none;
}
button[type=button].disabled, button[type=button]:disabled, input[role=button].disabled, input[role=button]:disabled, input[type=button].disabled, input[type=button]:disabled,button[type=submit].disabled, button[type=submit]:disabled 
{
  color: #999!important;
  border: 1px solid #aaa!important;
  background-color: #eee!important;
  background-image: none;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}




.btn:disabled, .btn.disabled, .btn-Blue:disabled, .btn-Blue.disabled{
  color: #999!important;
  border: 1px solid #aaa!important;
  background-color: #eee!important;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  cursor: not-allowed;
  opacity: .65;
}

.btn {
  font-weight:500;/* was 400 */
  padding: 0.203rem 0.45rem !important;
  /* font-size:1.125rem; */
  line-height:1.25em;
  display: inline-block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; 
  border-bottom-style: solid; 
  border-left-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
}
.btn:focus, .btn.focus {
  /*outline:0;disabling keyboard standard not good*/
  /* -webkit-box-shadow:none; */
  /* box-shadow:none; */
  background-color:#428bca;
  background-repeat: repeat-x; /* not really*/
}

.btn:hover, .btn:hover {
  color: white;
}

.btn-language {
    border-color: #263238;
    border: 2px solid rgba(38, 50, 56, .8);
    padding: 0 0.1rem !important;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.2rem;
    height: 1.75rem;
    width: 34px;
  }
  
/* fonts for buttons - to keep the button text consistent with the page */

.btn[class*=btn-] {
  margin-bottom: 0.5rem;
}

.btn-txt {
  font-family: var(--main-font-family); 
  font-weight: 100;
  font-size: 1rem;
}

.btn-refresh {
  /* font-family: var(--main-font-family);  */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  color: rgb(9, 79, 207); 
   border: none; 
  background: transparent; 
  cursor: pointer;
  margin-bottom: 0rem !important;
}
.btn-refresh:hover, .btn-refresh:focus  {
  color: rgb(9, 79, 207);
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn-Blue {
  color:#fff;
  background-image: linear-gradient(180deg, #0085d4, #1f4881);
  border-color: #193b59;
  min-width:110px;
  border-bottom-color: rgb(25,59,89); 
  margin-right: 5px;
}

.btn-Blue:hover, .btn-Blue:focus {
  background-color:#428bca;
  background-image: linear-gradient(180deg, #0068a7, #193b59);
}

.btn-language {
  border-color: #263238;
    border: 2px solid rgba(38, 50, 56, .8);
    padding: 0 0.1rem;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.2rem;
    height: 1.75rem;
    width: 34px;
}
.btn-logout {
  display:block;
  height:100%;
  color:#fff;
  background-color:#333;
  width:100%;
  padding:4% !important;
}
.logout .btn[class*="btn-"], .alert-btn-group .btn[class*="btn-"] {
  margin-bottom:0;/*reinforce, .btn is 1rem*/
}
.btn-countdown {
  color:#fff !important;
  background:transparent;
  border-color: #000;
  border:2px solid rgba(0,0,0,.2);
  height:1.75rem;
  width:1.75rem;
  padding:0 !important;
  min-width:2px;
  margin:0;
}

/* Uniform icon Btns */

.icon-btn {
  background: transparent;
  border: none;
  margin: 0.080rem;
  cursor: pointer; 
  padding: 0px 0px;
}

/* Classes for form Width Control Styles */
.datepicker, .form-style .datepicker {
  width: 85px;  
}
.id, .form-style .id {
  width:100px;
}
.logout {
  width:124px;
  margin-right:-2px;/* was -4*/
}
.date-time, .form-style .date-time {
  width:183px;/* was 180px;*/
}
.long, .form-style .long {
  width:220px;
}
/* Less space between cols Styles */
/* .col, .col-auto, .form-style .col, .form-style .col-auto {
  padding-right:5px;
  padding-left:5px;
} */
/* Less space between rows Styles */
.row, .form-style .row {
  margin-bottom:5px;
  margin-top:0;
}


/* disabled Styles */
.btn[disabled], input[type="text"]:read-only, .nav-item a[role="tab"].disabled,
input:disabled, button:disabled, select:disabled, textarea:disabled {
  cursor:not-allowed;
}
.form-control:disabled, .form-control[read-only], input[role="button"]:disabled,
input[type="button"]:disabled, button[type="button"]:disabled, .disabled {
  color:#999 !important;
  border:1px solid #A6A9AE !important;
  background-color:#e9ecef !important;
}
/*form input.disabled, .form-style input.disabled {color:#999;border-color:#505050 !important;}*/
fieldset:disabled .input-group-addon, fieldset:disabled .input-group-addon {
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
fieldset:disabled .input-group-addon i.fa, fieldset:disabled .input-group-addon i.fa {
  color:#999;
  cursor:not-allowed;
}

.nav-link {
  /* padding:0.75rem 0.6rem 0 0.6rem !important; */
  font-size: 0.85rem;
}
.nav .nav-item a.nav-link.disabled {
  color:#999;
  border-color:#ccc #ccc #333;
  background-color:#eee;
  font-size: 0.85rem;
}
/* hover blue border Styles, may be updated later! */
.input-group-addon:focus {
  border-left:1px solid #66AFE9;
}
.form-control:focus, .input-group-addon:focus {
  border-color:#66AFE9 !important;
  /*outline:0;disabling keyboard standard not good */
  -webkit-box-shadow:/*inset 0 1px 1px rgba(0,0,0,0.75),*/0 0 8px rgba(102,175,233,.6) !important;
  box-shadow:/*inset 0 1px 1px rgba(0,0,0,0.75),*/0 0 8px rgba(102,175,233,0.6) !important;/* another option 0 0 0 0.2rem rgba(66, 139, 202, 0.25);*/
  box-shadow: #66afe9;
}
.form-control.input-invalid, .form-control.input-invalid:focus {
  border-color:#d13535;
  border-color:rgba(209, 53, 53, 0.6) !important;
  -webkit-box-shadow:0 0 8px rgba(209, 53, 53, 0.6) !important;
  box-shadow:0 0 8px rgba(209, 53, 53, 0.6) !important;
  box-shadow:#d13535;
}
/*1st row left-side Labels need to align with input fields Styles */
.high-top, .form-style .high-top {
  margin-top:35px;
}
.high-top-tranche, .form-style .high-top-tranche {
  margin-top:31px;
}
/* TAB Styles */
.nav-tabs {
  border-bottom:1px solid #333;
}

.nav-tabs .nav-link {
  color: white;
  font-weight: 400;
  min-width: 200px;
  margin-right: 5px;
  text-align: center;
  border-color: #daeff2 #daeff2 #333;
  background-color: #0367A6;
  background-image: -moz-linear-gradient(top, #0085d4, #1f4881);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0085d4), to(#1f4881));
  background-image: -webkit-linear-gradient(top, #0085d4, #1f4881);
  background-image: -o-linear-gradient(top, #0085d4, #1f4881);
  background-image: linear-gradient(to bottom, #0085d4, #1f4881);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0085d4', endColorstr='#ff1f4881', GradientType=0);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  background-color: white !important;
  background-image: none;
  border-color: #333 #333 #fff #333;
  font-weight: 500;
  font-size: 1.125rem;
  color: #333;
  background-repeat: no-repeat;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: white;
  border-color: #333 #333 transparent;
  background-color: #03578d;
  background-image: -moz-linear-gradient(top, #0068A7, #193B59);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0068A7), to(#193B59));
  background-image: -webkit-linear-gradient(top, #0068A7, #193B59);
  background-image: -o-linear-gradient(top, #0068A7, #193B59);
  background-image: linear-gradient(to bottom, #0068A7, #193B59);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0068A7', endColorstr='#ff193B59', GradientType=0)
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  color: #999;
  border-color: #ccc #ccc #333 #ccc;
  background-color: #eee !important;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.tab-content {
  padding:0.5rem 1rem;
  background-color:white;
  border-left:1px solid #333;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
}

.status-filter, .quick-filter {
  width:100%;
  margin-bottom:0.5rem;
  float:left;
  height:calc(1.812rem + 2px);
}

/* ag-Grid table grid Styles */
.grid-pinned-row {
  text-transform: uppercase;
  font-weight: bold;
  background-color: lightyellow;
}

.grid-amount-column {
  text-align: right;
}

.ag-fresh, .ag-theme-fresh {
  color:#222;
  font-size:0.85rem;/* was 0.875rem */
}

/* ag-Grid table grid Styles */
.ag-fresh .ag-row, .ag-theme-fresh .ag-row {
  height:30px;
}

.tooltip-inner {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#000;
  font-weight:400;
  background-color:white;
  border:1px solid #333;
  padding:0.35rem;
  font-size:0.8125rem;
  word-wrap:break-word;
  width:200px;
  text-align:left;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color:#333;
}
.error input, .error input:focus, .error select, .error select:focus, .error textarea, .error textarea:focus {
  border:1px solid #AD2929 !important;
  /*-webkit-box-shadow:0 0 8px rgba(173,41,41,.25) !important;
  box-shadow:0 0 8px rgba(173,41,41,0.25) !important; may use later*/
}
.error .tooltip-inner {
  border:1px solid #AD2929 !important;
}
.error .tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .error .tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color:#AD2929;
}

/* ************************************** */
/* date time picker Styles */
/* ************************************** */
.dropdown {
  position:relative;
}
.dropdown ul[role="menu"] {
  list-style-type:none;
  border-bottom:1px solid transparent;
}
.dropdown ul[role="menu"] li:first-child {
  border-top:1px solid silver;
  border-right:1px solid silver;
  border-left:1px solid silver;
  border-bottom:1px solid silver;
  background:#fff;
}
.dropdown ul[role="menu"] li:not(:first-child) {
  border-top:1px solid transparent;
  border-right:1px solid silver;
  border-left:1px solid silver;
  border-bottom:1px solid silver;
  background:#fff;
}
.dropdown ul[role="menu"] li:last-child {
  border-top:1px solid transparent;
  border-right:1px solid silver;
  border-left:1px solid silver;
  border-bottom:1px solid silver;
  background:#fff;
}
.dropdown ul[role="menu"] .dropdown-item {
  min-width:80px;
}
.dropdown ul[role="menu"] .dropdown-item:hover {
  background:#f5f5f5;
}

/* ************************************** */
/* Default dropdown Styles */
/* ************************************** */

.dropdown-menu {
  border-radius: 0;
  padding: 0.01rem 0;
  margin: 0.01rem 0 0;
}

.dropdown-menu .dropdown-item {
  padding: 0.25rem 0.75rem;
  font-size: 0.8125rem;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #428bca;
}

/* ************************************** */
/* Additional date time picker Styles */
/* ************************************** */
div.ngb-dp-week .font-italic {
  font-style:normal !important;
}
div.ngb-dp-week .text-info {
  color:#505050 !important;
  font-weight:600;
}
.btn-link {
  color:#428bca !important;
}
.btn-link:hover {
  color:#1f4881 !important;
}
.bg-primary {
  background-color:#428bca !important;
}
.ngb-dp-months, .ngb-tp {
  background:#fff;
}
/* may use later
.popover .arrow {
  left:0 !important;
}*/
.dt-picker-bottom {
  /*bottom:0;*/
  top:0 !important;
}
/* .ag-fresh .dt-picker-input[_ngcontent-c6], .ag-theme-fresh .dt-picker-input[_ngcontent-c6] {
  height:29px;
  line-height:1.25em;
  padding-left:4px;
}
.ag-fresh .dt-picker-button[_ngcontent-c6], .ag-theme-fresh .dt-picker-button[_ngcontent-c6] {
  height:29px;
  line-height:1.25em !important;
} */

/*Col-md for portrait tablet only Styles */
@media (min-width:768px) and (max-width:991.98px) {
  .header-div-countdown {
      width:280px;
  }
  .div-datetime-left {
      width:275px;
      text-align:right;
  }
  .div-countdown-right {
      width:375px;
  }    
  .header {
      margin-right:-15px;
  }   
}
/* correct existing Styles */
@media (min-width:992px) {
  .navbar .navbar-container {
      padding-left:255px;
  }/* if less than 5 icon set return to default*/
}
/*Col-lg for iPad Pro .. landscape tablet only Styles */
@media (min-width:992px) and (max-width:1199.98px) {
  .navbar .navbar-nav {
      margin-left:-248px;/* NEW test on xl */
  }
  .navbar {
      margin-right:-20px;
  }
  .logout {
      width:92px;
  }
  .greeting {
      margin-left:0.25rem;
      margin-right:0.25rem;
      text-align:right;
  }
  .header-div-countdown {
      width:280px;
  }
  .div-datetime-left {
      width:275px;
      text-align:right;
  }
  .div-countdown-right {
      width:375px;
  }    
  .header {
      margin-right:-15px;
  }
}
/*Col-xl for office laptop .. widescreen only Styles */
@media (min-width:1200px) and (max-width:1365.98px) {
  .navbar .navbar-nav {
      margin-left:-228px;/* NEW test on xl */
  }
  .navbar {
      margin-right:-48px;
  }
  .navbar .navbar-container {
      min-width:572px;
  }
  .logout {
      width:92px;
      margin-right:1rem;
  }
  .greeting {
      margin-left:0.5rem;
      margin-right:0.25rem;
      text-align:right;
  }
}


/* ************************************** */
/* Sbms Grid Styles */
/* ************************************** */
.ag-header-cell-text {
  flex: 1;
}

.amount-header {
  text-align: right;
}

.error-field {
  color: red;
}

select.error-field option {
  color: red;
}

.sbms-toolip {
  line-height: 5rem;
}


/*desktop & PC plus Styles */
@media (min-width:1366px) {
  .greeting {
      margin-left:2.125rem;
  }
}

/* Environment & version based styles */
.env-header {
  width: 100%;
  text-align: center;
  line-height: 20px;
}

.version-footer {
  width: 100%;
  text-align: center;
  line-height: 20px;
  margin-top: -10px;
  background-color: lightgrey;
  color: black;
  font-size: 90%;
}

.sbms-local {
  background-color: navy;
  color: white;
}

.sbms-dev, .sbms-dev1, .sbms-dev2 {
  background-color: green;
  color: white;
}

.sbms-qa {
  background-color: purple;
  color: white;
}

.sbms-auto-test {
  background-color: yellow;
  color: black;
}

.sbms-uat {
  background-color: lightskyblue;
  color: white;
}

.sbms-jlp {
  background-color: darkorange;
  color: black;
}

.sbms-prod {
  background-color: darkred;
  color: white;
}


/*Calendar customization date */
.custom-day {
  text-align: center;
  /* border-radius: 0.25rem; */
  display: inline-block;
  width: 2rem;
  line-height: 31px;
  
}
.custom-day:hover {
   background-color: #cce3ff;
}
.custom-day.focused {
  background-color: #cce3ff;
  border: 1px solid #7fbbff;
}
.custom-day.today {
  border: 1px solid #900102;
  box-sizing: border-box;
  border-radius: 6px;
}
/* .custom-day .holiday {
  background-color: #f6f3f4 !important;
  border: none !important;
  
} */
.disabled {
  background-color: #f6f3f4 !important;
  border: none !important;
  height: 2.1rem !important;
}
.custom-day.othermonth {
  color: #6c757d ;
}
.ngb-dp-day .disabled {
  border: none !important;
  background-color: #fff !important;
}
/*TODO: Add styles for staging and production*/
